body {
    height: 100vh;  /* Medida de la Ventana */
    margin: 0;
    display: flex;
    flex-direction: column;
}

.calculadora {   /* Estilo de la Calculadora */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
}

.btn.btn-clear {   /* Estilo del Boton C */
    grid-column: 1 / 5;
    background-color: #f44336;
    color: #fff;
}

.botones {    /* Estilo de los Botones */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.botones button {  /* Estilo de los Botones */
    padding: 10px;
    font-size: 1.5sem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


footer {   /* Estilo del Pie de Pagina */
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}